name: PHPStan
on:
  push:
    paths:
      - '**.php'
      - 'phpstan.neon.dist'
jobs:
  phpstan:
    name: PHPStan Analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-tags: 'false'
          show-progress: 'false'
          fetch-depth: '1'
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'
          coverage: none
      - name: Install composer dependencies
        run: composer install --no-progress --no-suggest --prefer-dist
      - name: Run PHPStan
        run: ./vendor/bin/phpstan --error-format=github
